<ion-header> </ion-header>

<ion-content class="ion-padding login-content">
  <div class="login-container">
    <div class="logo">
      <img src="assets/img/logo.png" alt="RentThis-Login" />
    </div>

    <h2 class="login-title">Login to your Account</h2>

    <div class="form-box">
      <ion-item lines="none" class="input-item">
        <ion-input
          type="email" [(ngModel)]="loginData.email" label="Email" label-placement="floating" placeholder="Input your email"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="loginData.password" label="Password" label-placement="floating" placeholder="Input your password"></ion-input>
        <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div class="forgot-password ion-text-right">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>

      <ion-button expand="block" size="default" shape="round" class="btn-login" (click)="login()">Login</ion-button>

      <div class="login-link ion-text-center">
        Don’t have an account? <a routerLink="/tabs/tab-register" class="sign-up">Sign Up</a>
      </div>
    </div>
  </div>
</ion-content>
