<ion-header> </ion-header>
<ion-content fullscreen [scrollEvents]="true" scroll-y="true" class="ion-padding">
  <div class="register-container">
    <div class="logo">
      <img src="assets/img/logo.png" alt="RentThis Logo">
    </div>

  <h2 class="register-title">Welcome!</h2>
  <h2 class="paragraf">Please fill in your details to create a new account</h2>

    <div class="form-box">
    <ion-item lines="none" class="input-item">
      <ion-input type="email" [(ngModel)]="user.email" required label="Email" label-placement="floating" placeholder="Enter your email address"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input type="text" [(ngModel)]="user.name" required label="Full Name" label-placement="floating" placeholder="Enter your full name"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input type="tel" [(ngModel)]="user.phone_number" required label="Phone Number" label-placement="floating" placeholder="Enter your phone number"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="user.password" required label="Password" label-placement="floating" placeholder="Enter your password"> </ion-input>
      <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePasswordVisibility('password')"> </ion-icon>
    </ion-item>
    
    <ion-item lines="none" class="input-item-password">
      <ion-input
        [type]="showPasswordConfirm ? 'text' : 'password'"
        [(ngModel)]="user.password_confirmation"
        required label="Confirm Password" label-placement="floating" placeholder="Re-enter your password">
      </ion-input>
      <ion-icon
        slot="end"
        [name]="showPasswordConfirm ? 'eye-off' : 'eye'"
        (click)="togglePasswordVisibility('confirm')">
      </ion-icon>
    </ion-item>
    </div>

    <ion-button expand="block" size="default" shape="round" class="btn-signup" color="primary" (click)="register()">Sign Up</ion-button>

    <div class="register-link ion-text-center">
      Already have account? <a routerLink="/tabs/tab-login" class="sign-in">Sign In</a>
    </div>

    <ion-text color="danger" *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </ion-text>
  </div>
</ion-content>
