<ion-header></ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Belum Login -->
  <div *ngIf="!isLoggedIn" class="not-logged-in ion-padding">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          You’re not signed in
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Please sign in or create an account to view your profile</p>

        <ion-button expand="block" color="primary" shape="round" (click)="login()">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Login
        </ion-button>

        <ion-button expand="block" color="primary" fill="outline" shape="round" (click)="register()">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Register
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

 <!-- Sudah Login -->
<div *ngIf="isLoggedIn" class="ion-padding logged-in">
  <ion-card class="profile-card">
    <!-- Avatar & Data -->
    <ion-item lines="none" class="profile-header">
  <ion-avatar slot="start" class="profile-avatar">
    <img [src]="user.avatar || 'https://via.placeholder.com/150'" alt="Profile Photo" />
  </ion-avatar>
  <ion-label>
    <h2 class="name">{{ user.name }}</h2>
    <p class="email">Email: {{ user.email }}</p>
    <p class="phone">Phone: {{ user.phone_number }}</p>
  </ion-label>
</ion-item>


    <!-- Verifikasi -->
    <ion-item lines="none" class="verification-status">
      <ion-icon
        slot="start"
        [name]="user.status === 'verified' ? 'shield-checkmark' : 'shield-half-outline'"
        [color]="user.status === 'verified' ? 'success' : 'warning'"
      ></ion-icon>
      <ion-label>
        <strong>{{ user.status === 'verified' ? 'Verified' : '	Not Verified Yet' }}</strong>
      </ion-label>
    </ion-item>

    <!-- Button Action -->
    <ion-card-content class="action-buttons">
      <ion-button expand="block" color="primary" shape="round" fill="solid">
        <ion-icon slot="start" name="create-outline"></ion-icon>
       	Edit Profile
      </ion-button>

      <ion-button expand="block" color="success" shape="round" fill="outline">
        <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
        	Verify Now
      </ion-button>

      <ion-button expand="block" color="danger" shape="round" fill="solid" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
